<div class="permission">
  <div class="row">
    <div class="col-md-12">
      <mat-icon>privacy_tip</mat-icon>
      <h1>Status Code: 403</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Sorry !!! You are not authorized to view this page.</h3>
      <p>
        Sorry, your access is refused due to security reasons of our server and
        also our sensitive data.<br />Please go back to the previous page to
        continue browsing.
      </p>
    </div>
  </div>
</div>
