.action-bar {
    background-color: #fff;
    height: 45px;
    min-height: 45px;
    padding-left: 8px;
    padding-right: 8px;
    h5 {
      font-size: 14px;
      font-weight: bold;
    }
  
    button {
      min-width: 48px;
      padding: 0 16px;
      color: rgb(98, 96, 240) !important;
      :hover {
        color: #000 !important;
      }
      .mat-button-wrapper:hover {
        color: #000 !important;
      }
    }
  }
  