mat-radio-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-radio-button {
  margin-right: 10px !important;
}

.mat-form-field {
  margin-bottom: 10px;
}

.cont-max-height {
  max-height: 70vh !important;
}

.errors {
  margin-bottom: 10px;
  h4 {
    color: #f00;
    font-size: 12px;
    margin-bottom: 0px !important;
  }

  ul {
    margin: 0 !important;
    li {
      font-size: 11px;
      line-height: 11px;
    }
  }
}
