.mat-column-photo {
  width: 50px;
  img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin-top: 5px;
  }
}
.mat-column-mobile {
    width: 15%;
}
.mat-column-name, .mat-column-email {
    width:25%
}

.mat-column-gender,
.mat-column-isadmin {
  width: 12%;
}
