.sidenav_container {
  min-width: 60px;
  height: calc(100vh - 200px);
}

.user_menu {
  .mat-list-base {
    padding-top: 0;
  }
  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
}
